@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TuinCentrum</h1>
    <p class="lead">MVC oefeningen ivm planten.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PlantenLijst</h2>
        <p>
            Lijst met alle planten.
        </p>
        <p><a class="btn btn-default" href="Plant">Open Lijst &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SoortLijst</h2>
        <p>
           Lijst van alle soorten planten.
        </p>
        <p><a class="btn btn-default" href="Soort">Open Lijst  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LeverancierLijst</h2>
        <p>
            Lijst van alle leveranciers.
        </p>
        <p><a class="btn btn-default" href="Leverancier">Open Lijst  &raquo;</a></p>
    </div>
</div>